@white:                 #ffffff;
@black:                 #000000;
@blue:                  #2d89ef;
@blueLight:             #EFF4FF;
@blueDark:              #2B5797;
@green:                 #00a300;
@greenLight:            #99b433;
@greenDark:             #1E7145;
@red:                   #b91d47;
@yellow:                #ffc40d;
@orange:                #e3a21a;
@orangeDark:            #da532c;
@pinkDark:              #7E3878;
@pink:                  #9f00a7;
@purple:                #603cba;
@darken:                #1d1d1d;
@lighten:               #d5e7ec;
@grayDark:              #525252;
@magenta:               #FF0097;
@teal:                  #00ABA9;
@redLight:              #EE1111;

.metrouicss {
    .page {
        width: 940px;
        margin: 0 auto;
        .page-header {
            .page-header-content {
                .page-icon {
                    position: absolute;
                    top: 34px;
                    left: 30px;
                    font-size: 32pt;
                    color: @white;
                }
            }
        }
    }

    .notices {
        .notice-image {
            font-size: 30pt;
        }
    }
    
    .input-control.checkbox  {
        margin: 0;

    }
}

#nav {
    background-color: @greenDark;
    .nav-bar {
        background-color: @greenDark;
    }
}

#header {
    background-color: @greenLight;
    margin-bottom: 20px;
    h1, a {
        color: @white;
    }
}

.messagelist-holder {
    margin-bottom: 20px;
    
    .messagelist-item {
        border-bottom: 1px solid #eee;
        padding: 5px;
    }
}

.conversation-holder {
    margin-bottom: 20px;
    
    ul.replies {
        margin: 0;

        li {
            margin: 0;
            width: 100%;
            margin-bottom: 1px;
            &.sent {
                background-color: @blueLight;
                div > {
                    .date, .author, .text { color: @black }
                    .date:hover, .author:hover, .text:hover { color: @black }
                }
            }
            &.received {
                background-color: @greenLight;
            }
            div > .avatar {
                background-color: #eee;
            }
            div > .text {
                margin-bottom: 20px;
            }
            div > .status-icon {
                position: absolute;
                right: 10px;
                bottom: 5px;
            }
        }
    }
}

ul.token-input-list-facebook {
    clear: none !important;
    margin: 0 !important;
    width: 100% !important;
    list-style: none;
}

div.token-input-dropdown-facebook {

}