@white:                 #ffffff;
@black:                 #000000;
@blue:                  #2d89ef;
@blueLight:             #EFF4FF;
@blueDark:              #2B5797;
@green:                 #00a300;
@greenLight:            #99b433;
@greenDark:             #1E7145;
@red:                   #b91d47;
@yellow:                #ffc40d;
@orange:                #e3a21a;
@orangeDark:            #da532c;
@pinkDark:              #7E3878;
@pink:                  #9f00a7;
@purple:                #603cba;
@darken:                #1d1d1d;
@lighten:               #d5e7ec;
@grayDark:              #525252;
@magenta:               #FF0097;
@teal:                  #00ABA9;
@redLight:              #EE1111;

@toolbar-bg:            #eee;
@toolbar-border:        #ddd;


#header {
    padding-top: 20px;
    background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
    h1, a, small {
        color: @white;
    }
}

.page-header {
    border: none;
    padding: 0;
}

#subheader {
    padding: 22px 0 17px;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}

.messagelist-holder {
    margin-bottom: 20px;
}

.conversation-holder {
    margin-bottom: 20px;

    div.message-meta {
        font-size: 9pt;
    }
    div.text {
        margin-bottom: 20px;
    }
}

.page-sidebar {
    li.active a {
        background-color: #0088cc;
        color: #fff;
        /*
        [class^="icon-"], [class*=" icon-"] {
            background-image: url("../img/glyphicons-halflings-white.png");
        }
        */
       &:hover {
            background-color: #0088cc;
            color: #fff;
       }
    }
}

.message-meta {
    div.meta-label {
        float: left;
        clear: both;
        width: 80px;
    }
    div.meta-content {
        float: left;
    }
}

.hidden {
    display: none;
}

.compose-send-option {
    margin-bottom: 20px;

    .radio {
        float:left;
        width:120px;
        margin-bottom: 10px;

        label {
            display: inline-block;
        }
    }
}


div.toolbar {
    background-color: @toolbar-bg;
    border: 1px solid @toolbar-border;
    padding: 5px;
    margin-bottom: 10px;
    .btn-toolbar {
        margin: 0;
    }
    .input-append, .input-prepend {
        margin-bottom: 0;
    }
    form {
        margin: 0;
    }
}

ul.token-input-list-facebook {
    margin-bottom: 10px !important;
    width: 600px !important;
}

div.token-input-dropdown-facebook {
    width: 600px !important;
}

ul.token-input-list  {
    clear: none !important;
}